<!DOCTYPE html>
<html ng-app="crmSubscriptionApp">
  <head>
    <meta charset="utf-8">
    <title>CRM system Agent Subscription Center</title>
  </head>
  <body>
    <div ng-controller="agentSubscriptionsController">
      <h3>Your Subscriptions</h3>
      <table>
        <tr>
          <th width="100" align="left">Customer</th>
          <th width="200" align="left">Subscribed updates</th>
          <th width="200" align="left">Notified by</th>
        </tr>
        <tr ng-repeat="subscription in subscriptions">
          <td width="100">{{ subscription.customer.name }}</td>
          <td width="200">{{ subscription.notificationFields }}</td>
          <td width="200">{{ subscription.notificationMethods }}</td>
          <td> </td>
          <td><input type="button" ng-click="deleteSubscription(subscription._id)" value="Delete" /></td>
          <td><input type="button" ng-click="updateSubscription(subscription._id)" value="Update" /></td>
        </tr>
      </table><br />
      <div>
        <input type="button" ng-click="createNewSubscription()" value="Create New Subscription" />
      </div><br/>
      <input type="button" ng-click="backToAgentList()" value="Go back to Agent list" />
    </div>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/jquery-ui-1.11.1/jquery-ui.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/subscriptions.js"></script>
  </body>
</html>
