<% layout('../layout') -%>
<h3>Create Agent</h3>
<div>
  <label>Name: <input type="text" id="agent_name" placeholder="name" />
  </label>
<div>
</div>
  <label>Phone: <input type="text" id="agent_phone" placeholder="phone" /></label>
</div>
<div>
  <label>Email: <input type="text" id="agent_email" placeholder="email" />
  </label>
</div>
<div>
  <button id="create_agent_submit">Submit</button>
  <button id="create_agent_cancel">Return</button>
</div>
