<!DOCTYPE html>
<html ng-app="crmManagerApp">
  <head>
    <meta charset="utf-8">
    <title>CRM system-Agent Creation</title>
  </head>
  <body>
    <div ng-controller="agentCreateController">
      <h3>Create Agent</h3>
      <div>
        <label>Name: <input type="text" ng-model="agent_name" placeholder="Ex: John Chen" />
  </label>
      </div>
      <div>
        <label>Phone: <input type="text" ng-model="agent_phone" placeholder="Ex: 123-456-7890" /></label>
      </div>
      <div>
        <label>Email: <input type="email" ng-model="agent_email" placeholder="Ex: jc@gmail.com" /></label>
      </div>
      <div>
        <input type="button" ng-click="createAgentSubmit(agent_name, agent_phone, agent_email)" value="Submit" />
        <input type="button" ng-click="createAgentCancel()" value="Return" />
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="/js/managers.js"></script>
  </body>
</html>
