<% layout('../layout') -%>
<h3>Create Customer</h3>
<div>
  <label>Name: <input type="text" id="customer_name" placeholder="name" /></label>
</div>
<div>
  <label>Phone: <input type="text" id="customer_phone" placeholder="phone" /></label>
</div>
<div>
  <label>Email: <input type="text" id="customer_email" placeholder="email" /></label>
</div>  
<div>
  <button id="create_customer_submit" value="<%= agent["id"] %>">Submit</button>
  <button id="create_customer_cancel" value="<%= agent["id"] %>">Return</button>
</div>
