<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRM system</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/content.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/crm/">CRM System</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/crm/">Main <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/crm/about">About</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="form">
            <button type="submit" onclick="location.href = '/ecomm/';" class="btn btn-success">Ecommerce</button>
          </form>
        </div>
      </div>
    </nav>
    <h3>Team members</h3>
    <ul>
      <li>Fan Su (fs2488)</li>
      <li>Yen-Cheng Chou (yc2901)</li>
      <li>Wenjun Xu (wx2148)</li>
    </ul>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/jquery-ui-1.11.1/jquery-ui.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/home.js"></script>
  </body>
</html>