<!DOCTYPE html>
<html ng-app="crmHomeApp">
  <head>
    <meta charset="utf-8">
    <title>CRM system</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/content.css">
  </head>
  <body>
    <div ng-controller="crmHomeController">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/crm/">CRM System</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/crm/">Main <span class="sr-only">(current)</span></a></li>
              <li><a href="/crm/about">About</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="form">
              <button type="submit" onclick="location.href = '/ecomm/';" class="btn btn-success">Ecommerce</button>
            </form>
          </div>
        </div>
      </nav>
      <h3>Features</h3>
      <ul>
        <li>Crm: Agent, Customer and Contact Records </li>
        <li>Business facade, business logic</li>
        <li>Message queue SQS, SNS, RabbitMQ</li>
        <li>Business constraints in business logic</li>
        <li>Asynchronized, idempotent RESTful API with pagination & ad-hoc query</li>
        <li>Standalone app</li>
        <li>Subscription using pub/sub pattern</li>
        <li>Provide MongoDB, simpleDB, redis RESTful API</li>
        <l1>Provide view stats and shopping carts for session and user respectively</l1>
        <li>Static content store in S3 with folders sublevels</li>
      </ul>
      <h3>Login Information</h3>
      <div class="col-xs-4 ">
        <div class="well">
          <h4>Manager</h4>
          <div class="form-group">
            <label>Manager Id <input type="text" class="form-control" ng-readonly="true" value="No manager Id"></label>
            <input type="button" class="btn btn-default" ng-click="managerStartCRM()" value="Enter" />
          </div>
        </div>
      </div> 
      <div class="col-xs-4" >
        <div class="well">
          <h4>Agent</h4>
          <div class="form-group">
            <label>Agent Id <input type="text" class="form-control" ng-model="agentId" placeholder="Enter agent id" /></label>
            <input type="button" class="btn btn-default" ng-click="agentStartCRM(agentId)" value="Enter" />
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="well">
          <h4>Customer</h4>
          <div class="form-group">
            <label>Customer Id <input type="text" class="form-control" ng-model="customerId" placeholder="Enter customer id" /></label>
            <input type="button" class="btn btn-default" ng-click="customerStartCRM(customerId)" value="Enter" />
          </div>
        </div>
      </div>     
    </div>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/jquery-ui-1.11.1/jquery-ui.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/home.js"></script>
  </body>
</html>
