<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CRM system</title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/jquery-ui-themes-1.11.1/themes/smoothness/jquery-ui.css">
  </head>
  <body>
    <%- body %>
   <script src="/js/jquery-1.11.1.js"></script>
   <script src="/jquery-ui-1.11.1/jquery-ui.js"></script>
   <script src="/js/agents.js"></script>
   <script src="/js/customers.js"></script>
   <script src="/js/contact_history.js"></script>
  </body>
  
</html>
