<!DOCTYPE html>
<html ng-app="ecommCustomerApp">
  <head>
    <meta charset="utf-8">
    <title>Ecommerce-Product Detail(Manager View)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/content.css">
  </head>
  <body>
    <div ng-controller="productDetailController">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/ecomm/">Ecommerce System</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/ecomm/">Main <span class="sr-only">(current)</span></a></li>
              <li><a href="/ecomm/about">About</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="form">
              <input type="button" onclick="location.href = '/crm/';" class="btn btn-success" value ="CRM" />
            </form>
          </div>
        </div>
      </nav>
      <div style="padding: 20px;">
        <h3>Product Details (Product ID) {{ id }}</h3>
        <div class="row-fluid">
          <div class="span2">
            <img ng-src= "{{imageLink}}" />
          </div>
          <div class="span10">
            <div><label>Short Description: <input class="form-control" ng-model="shortDescription" value="{{ shortDescription }}"></label>
            </div>
            <div><label>Long Description: <input class="form-control" ng-model="longDescription" value="{{ longDescription }}"></label></div>
            <div><label>Seller Comments: <input class="form-control" ng-model="sellerComments" value="{{ sellerComments }}"></label></div>
            <br /><br />
            <input type="button" class="btn btn-primary" ng-click="updateProductDetail(productId)" value="Update" />
            <input type="button" class="btn btn-success" ng-click="getProducts()" value="All Products" />
          </div>
        </div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="/js/managers.js"></script>
  </body>
</html>
