<!DOCTYPE html>
<html ng-app="ecommCustomerApp">
  <head>
    <meta charset="utf-8">
    <title>Ecommerce-All Products(Manager View)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/content.css">
  </head>
  <body>
    <div ng-controller="retrieveProductController">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/ecomm/">Ecommerce System</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/ecomm/">Main <span class="sr-only">(current)</span></a></li>
              <li><a href="/ecomm/about">About</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="form">
              <button type="submit" onclick="location.href = '/crm/';" class="btn btn-success">CRM</button>
            </form>
          </div>
        </div>
      </nav>
      <h3>Ecommerce Products</h3>
      <input type="button" class="btn btn-success" ng-click="createProduct()" value="New Product" /><br /><br />
      <table class="table table-striped" ng-repeat="product in products">
        <caption>ProductID: {{ product.id }}</caption>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>Category</td>
          <td>{{ product.category }}</td>
        </tr>
        <tr ng-repeat="(key,val) in product.productsAttributes">
          <td>{{ key }}</td>
          <td><input class="form-control" ng-model="product.productsAttributes[key]" value="{{val}}"></td>
        </tr>
        <tr>
          <td>Details</td>
          <td><input type="button" class="btn btn-primary" ng-click="productDetail(product.id)" value="Detail" /></td>
        </tr>
        <tr>
          <td>Update</td>
          <td><input type="button" class="btn btn-success" ng-click="productUpdateSummary(product.id)" value="Update" /></td>
        </tr>
        <tr>
          <td>Delete</td>
          <td><input type="button" class="btn btn-danger" ng-click="productDelete(product.id)" value="Delete" /></td>
        </tr>
      </table>
    </div>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="/js/managers.js"></script>
  </body>
</html>
