<!DOCTYPE html>
<html ng-app="crmAgentApp">
  <head>
    <meta charset="utf-8">
    <title>CRM system-Agent-Customer Update</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/content.css">
  </head>
  <body>
    <div ng-controller="editCustomerDetailController">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/crm/">CRM System</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/crm/">Main <span class="sr-only">(current)</span></a></li>
              <li><a href="/crm/about">About</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="form">
              <button type="submit" onclick="location.href = '/ecomm/';" class="btn btn-success">Ecommerce</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <h3>Customer Update</h3>
          <div class="row">
            <label>Name: <input type="text" class="form-control" ng-model=customer_name placeholder="{{ customer.name }}" /></label>
          </div>
          <div class="row">
            <label>Phone: <input type="text" class="form-control" ng-model=customer_phone placeholder="{{ customer.phone }}" /></label>
          </div>
          <div class="row">
            <label>Email: <input type="email" class="form-control" ng-model=customer_email placeholder="{{ customer.email }}" /></label>
          </div>
          <div class="row">
            <label>Location: <input type="text" class="form-control" ng-model=customer_location placeholder="{{ customer.location }}" /></label>
          </div>
          <div class="row">
            <input type="button" class="btn btn-success col-xs-4" ng-click="editCustomerSubmit(agent._id, customer._id, customer_name, customer_phone, customer_email, customer_location)" value="Submit" />
            <span class="col-xs-1"></span>
            <input type="button" class="btn btn-primary col-xs-4" ng-click="editCustomerCancel(agent._id, customer._id)" value="Return" />
          </div>
        </div>
      </div>
    </div>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/jquery-ui-1.11.1/jquery-ui.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/js/agents.js"></script>
  </body>
</html>
