<!DOCTYPE html>
<html ng-app="crmCustomerApp">
  <head>
    <meta charset="utf-8">
    <title>CRM system-Agent-Customer Update</title>
  </head>
  <body>
    <div ng-controller="customerEditController">
      <h3>Edit Customer</h3>
  <div>
    <label>Name: <input type="text" ng-model=customer_name placeholder="{{ customer.name }}" />
    </label>
  </div>
  <div>
    <label>Phone: <input type="text" ng-model=customer_phone placeholder="{{ customer.phone }}" />
    </label>
  </div>
  <div>
    <label>Email: <input type="email" ng-model=customer_email placeholder="{{ customer.email }}" />
    </label>
        </div>
  <div>
          <input type="button" ng-click="editCustomerSubmit(agent._id, customer._id, customer_name, customer_phone, customer_email)" value="Submit" />
          <input type="button" ng-click="editCustomerCancel(agent._id, customer._id)" value="Return" />
  </div>
    </div>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/jquery-ui-1.11.1/jquery-ui.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/agents.js"></script>
    <script src="/js/customers.js"></script>
    <script src="/js/contact_history.js"></script>
  </body>
</html>
