<!DOCTYPE html>
<html ng-app="crmAgentApp">
  <head>
    <meta charset="utf-8">
    <title>CRM system-Contact History Details</title>
  </head>
  <body>
    <div ng-controller="showContactRecordController">
      <h3>Contact Record</h3>
      <p>Data: {{ contact_record.data }}</p>

      <input type="button" ng-click="BackToCustomerPage(agentId, customerId)" value="Go back to customer Info" />
      <input type="button" ng-click="backToAgent(agentId)" value="Go back to agent Info" />
      <input type="button" ng-click="backToAgentList()" value="Go back to the list" />
    </div>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/jquery-ui-1.11.1/jquery-ui.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/agents.js"></script>
  </body>
</html>
