<% layout('../layout') -%>
<h3>Contact History</h3>
<p>Data: <%= contact_history["data"] %></p>

<button id="contact_history_back_customer" value="<%= agentId %>" name="<%= customerId %>">Go back to customer Info</button>
<button id="contact_history_back_agent" value="<%= agentId %>">Go back to agent Info</button>
<button id="contact_history_back_agents">Go back to the list</button>
